# clion generate some file or dir
/src/cmake-build*
/src/.idea
/src/.clang-format
/server/.idea
/server/cmake-build*
/server/.clang-format
.idea

# out-put dir
/server/out
/src/out

# real config file
/src/conf/clientInfo.yaml
/src/conf/serverInfo.yaml
